In [ ]:
# NIM/Nama  : 19622217/Lydia Gracia
# Tanggal   :
# Deskripsi : Program memeriksa ...; input: ...; output: ...

# KAMUS
'''jenis data variabel'''
'''contoh: int, str, bool'''

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

df=pd.read_csv("problem-6-1.csv")

print(df)

                               nama fakultas  nilai_mat  nilai_fis  nilai_kim
0     I G A Gede Seputra Paramasidi    FMIPA         94         36         38
1                 Isabella Roseline    FMIPA        100         86         73
2               Retika Aprilia Sari     FTTM         72         39         40
3               Andi Vany Rohmadani    FMIPA         77         64         58
4              Ratih Wahyu Setiyani    SAPPK         67         21         27
...                             ...      ...        ...        ...        ...
9142          Muhammad Iqbal Haidar    FMIPA         61         26         30
9143                   Siti Solihah      FTI         63         75         35
9144              Sahinaz Sesiovira    FMIPA         63         20         27
9145             Intan Permata Sari      FTI         45         93         77
9146    Gopindo Natanael Lbn Toruan     FITB         66         25         30

[9147 rows x 5 columns]

1

In [2]:
len(df)

9147

2

In [5]:
df.loc[df["nama"]=="Tuan Wang"]

           nama fakultas  nilai_mat  nilai_fis  nilai_kim
5545  Tuan Wang      FTI         91         83         63

3

In [27]:
len(df.loc[df["nilai_kim"]>60])

3161

4

In [11]:
df.loc[(df["nilai_kim"]>90) | (df["nilai_mat"]>90) | (df["nilai_fis"]>90)]

                                nama fakultas  nilai_mat  nilai_fis  nilai_kim
0      I G A Gede Seputra Paramasidi    FMIPA         94         36         38
1                  Isabella Roseline    FMIPA        100         86         73
10                     Aufar Gilbran      FTI        100         88         74
16              Arifah Qurrota A Yun     FTTM         99         79         68
21                           Sharine    FMIPA         96         99         81
...                              ...      ...        ...        ...        ...
9122                 Samantha Verina      FTI         98         32         35
9127  I Wayan Kurniawan Aditya Warda    SAPPK         97         85         72
9132         Deviyanti Aryani Mariam      FTI         78         98         80
9135         Dionysia Bema Nariswari      FTI         93         72         63
9145              Intan Permata Sari      FTI         45         93         77

[2097 rows x 5 columns]

5

In [35]:
print(df.loc[df["nilai_mat"]==df["nilai_mat"].min()][["nama","nilai_mat"]])

print(df.loc[df["nilai_mat"].argmin()][["nama","nilai_mat"]])

                                nama  nilai_mat
40                      Angga Fauzan         30
65                  Vania Avviantari         30
110                  M Khairul Hamid         30
127   Maurits Theo Halomoan Simamora         30
212           Henry Natanail Purwito         30
...                              ...        ...
8902                 Sharfina Ariefa         30
8912                   Ricky Suryadi         30
8985                    Mewan Wandik         30
9009                    Aditya Rizky         30
9061                Rodeta Sihombing         30

[122 rows x 2 columns]
nama         Angga Fauzan
nilai_mat              30
Name: 40, dtype: object

6

In [28]:
df.sort_values(["nilai_kim","nama"], ascending=[False, True])[:10]

                        nama fakultas  nilai_mat  nilai_fis  nilai_kim
7044     Achmad Maulana Gani     FITB         85         99         81
2148      Adhika Dwi Alfonzo    SAPPK         87         98         81
7778      Aditya Agung Putra     FITB         66         98         81
9027        Ahmad Rahman Ali    FMIPA         37         99         81
5743        Akhmad Saifuddin     FTTM         42         99         81
1535  Alyssa Nadhira Windari      FTI         99         99         81
8253       Amalia Nurlatifah     FITB         48         99         81
7802   Amanda Anindita Utami    SAPPK         89         99         81
6437         Amelia Annisa E    FMIPA         74         98         81
5185            Andy Susetyo      FTI         60         99         81

7

In [29]:
df["fakultas"].value_counts()

SAPPK    1864
FITB     1863
FTI      1842
FMIPA    1790
FTTM     1788
Name: fakultas, dtype: int64

8

In [38]:
df["nilai_fis"].mean()

54.74505302284902

9

In [36]:
df["nilai_kim"].std()

17.942244816293957

10

In [37]:
# fmipa: dataframe

fmipa=df.loc[df["fakultas"]=="FMIPA"]

fmipa["nilai_mat"].mean()

64.81173184357542

11

In [43]:
print(df["nilai_mat"].corr(df["nilai_fis"])) # tidak berkorelasi
print(df["nilai_kim"].corr(df["nilai_fis"])) # berkorelasi positif

0.00025465377451187144
0.8545321019663652