In [31]:
# NIM/Nama  : 19622217/Lydia Gracia
# Tanggal   :
# Deskripsi : Program memeriksa ...; input: ...; output: ...

# KAMUS
'''jenis data variabel'''
'''contoh: int, str, bool'''

'contoh: int, str, bool'

In [22]:
import pandas as pd
import matplotlib.pyplot as plt

df=pd.read_csv("problem-6-6.csv")

print(df)

                                                    App        Category  \
0        Photo Editor & Candy Camera & Grid & ScrapBook  ART_AND_DESIGN
1                                   Coloring book moana  ART_AND_DESIGN
2     U Launcher Lite – FREE Live Cool Themes, Hide ...  ART_AND_DESIGN
3                                 Sketch - Draw & Paint  ART_AND_DESIGN
4                 Pixel Draw - Number Art Coloring Book  ART_AND_DESIGN
...                                                 ...             ...
5672                   Postings (Craigslist Search App)        SHOPPING
5673                                    CL-Phlebotomist         MEDICAL
5674                                        New: CL-150          FAMILY
5675                       Battle of Zombies: Clans War          FAMILY
5676                                     CL Pebble Apps       LIFESTYLE

      Rating  Reviews  Installs  Type Content Rating  Year Last Updated
0        4.1      159     10000  Free       Everyone               2018
1        3.9      967    500000  Free       Everyone               2018
2        4.7    87510   5000000  Free       Everyone               2018
3        4.5   215644  50000000  Free           Teen               2018
4        4.3      967    100000  Free       Everyone               2018
...      ...      ...       ...   ...            ...                ...
5672     4.3   151095   5000000  Free     Mature 17+               2018
5673     4.7       19       100  Free       Everyone               2018
5674     2.8        4       500  Free       Everyone               2018
5675     4.1   488039  10000000  Free           Teen               2017
5676     3.6       67      5000  Free       Everyone               2015

[5677 rows x 8 columns]

1

In [2]:
len(df)

5677

2

In [3]:
df.loc[df["App"]=="Tuan Wang"]

,App,Category,Rating,Reviews,Installs,Type,Content Rating,Year Last Updated
5353,Tuan Wang,EDUCATION,4.6,1977,100000,Free,Everyone,2018

3

In [4]:
len(df.loc[df["Rating"]==5])

146

4

In [20]:
len(df.loc[(df["Rating"]>4) & (df["Rating"]<5) & (df["Installs"]>10000000)])

366

5

In [24]:
df.loc[df["Reviews"]==df["Reviews"].max()]

,App,Category,Rating,Reviews,Installs,Type,Content Rating,Year Last Updated
1870,Facebook,SOCIAL,4.1,78158306,1000000000,Free,Teen,2018

6

In [9]:
df.sort_values(["Reviews", "Rating"], ascending=[False, False])[:10]

,App,Category,Rating,Reviews,Installs,Type,Content Rating,Year Last Updated
1870,Facebook,SOCIAL,4.1,78158306,1000000000,Free,Teen,2018
287,WhatsApp Messenger,COMMUNICATION,4.4,69119316,1000000000,Free,Everyone,2018
1871,Instagram,SOCIAL,4.5,66577313,1000000000,Free,Teen,2018
286,Messenger – Text and Video Chat for Free,COMMUNICATION,4.0,56642847,1000000000,Free,Everyone,2018
1290,Clash of Clans,GAME,4.6,44891723,100000000,Free,Everyone 10+,2018
3034,Clean Master- Space Cleaner & Antivirus,TOOLS,4.7,42916526,500000000,Free,Everyone,2018
1274,Subway Surfers,GAME,4.5,27722264,1000000000,Free,Everyone 10+,2018
2764,YouTube,VIDEO_PLAYERS,4.3,25655305,1000000000,Free,Teen,2018
1280,Clash Royale,GAME,4.6,23133508,100000000,Free,Everyone 10+,2018
1275,Candy Crush Saga,GAME,4.4,22426677,500000000,Free,Everyone,2018

7

In [11]:
df["Year Last Updated"].value_counts()

2018    4042
2017     872
2016     358
2015     234
2014      99
2013      50
2012      13
2011       8
2010       1
Name: Year Last Updated, dtype: int64

8

In [25]:
y18=df.loc[df["Year Last Updated"]==2016]

y18["Reviews"].mean()

48653.555865921786

9

In [27]:
free=df.loc[df["Type"]=="Free"]

free["Rating"].mean()

4.19402390438247

10

In [16]:
df["Reviews"].std()

2343945.4962195414

11

In [28]:
print(df["Rating"].corr(df["Reviews"])) # tidak berkorelasi
print(df["Rating"].corr(df["Installs"])) # tidak berkorelasi

0.05672501997160172
0.03761333617623016