In [ ]:
# NIM/Nama  : 19622217/Lydia Gracia
# Tanggal   :
# Deskripsi : Program memeriksa ...; input: ...; output: ...

# KAMUS
'''jenis data variabel'''
'''contoh: int, str, bool'''

0

In [1]:
import pandas as pd

df=pd.read_csv("P05-02.csv")

print(df)

                city  area  rooms  bathroom  parking_spaces  floor     animal  \
0          Sao Paulo    70      2         1               1      7      acept
1          Sao Paulo   320      4         4               0     20      acept
2       Porto Alegre    80      1         1               1      6      acept
3       Porto Alegre    51      2         1               0      2      acept
4          Sao Paulo    25      1         1               0      1  not acept
...              ...   ...    ...       ...             ...    ...        ...
8226       Sao Paulo   150      3         3               2      8  not acept
8227    Porto Alegre    63      2         1               1      5  not acept
8228       Sao Paulo   285      4         4               4     17      acept
8229  Rio de Janeiro    70      3         3               0      8  not acept
8230  Rio de Janeiro   120      2         2               2      8      acept

          furniture  homeowner_tax  rent_amount  property_tax  fire_insurance  \
0         furnished           2065         3300           211              42
1     not furnished           1200         4960          1750              63
2     not furnished           1000         2800             0              41
3     not furnished            270         1112            22              17
4     not furnished              0          800            25              11
...             ...            ...          ...           ...             ...
8226      furnished              0        13500             0             172
8227      furnished            402         1478            24              22
8228  not furnished           3100        15000           973             191
8229      furnished            980         6000           332              78
8230      furnished           1585        12000           279             155

      total
0      5618
1      7973
2      3841
3      1421
4       836
...     ...
8226  13670
8227   1926
8228  19260
8229   7390
8230  14020

[8231 rows x 13 columns]

1. Ada berapa rumah di Porto Alegre dengan luas di atas 150?

In [15]:
import pandas as pd

df=pd.read_csv("P05-02.csv")

len(df.loc[(df["city"] == "Porto Alegre") & (df["area"]>150)])

81

2. Data rumah dengan pajak bangunan per tahun terbesar.

In [7]:
import pandas as pd

df=pd.read_csv("P05-02.csv")

df.loc[df["property_tax"]==df["property_tax"].max()]

,city,area,rooms,bathroom,parking_spaces,floor,animal,furniture,homeowner_tax,rent_amount,property_tax,fire_insurance,total
5114,Sao Paulo,42,1,2,1,6,not acept,not furnished,690,2500,313700,32,316900

3. Ada berapa rumah dengan jumlah lantai 1 dan jumlah kamar tidur di atas 2?.

In [9]:
import pandas as pd

df=pd.read_csv("P05-02.csv")

len(df.loc[(df["floor"]==1) & (df["rooms"]>2)])

394

4. Banyak rumah yang sudah dilengkapi furnitur (furnished) untuk masing-masing kota.

In [11]:
import pandas as pd

df=pd.read_csv("P05-02.csv")

furnished=df.loc[df["furniture"]=="furnished"]
furnished["city"].value_counts()

Sao Paulo         1355
Rio de Janeiro     393
Porto Alegre       274
Belo Horizonte     133
Campinas            97
Name: city, dtype: int64

5. 5 data rumah dengan harga sewa total per tahun termurah yang berada di kota Campinas.

In [16]:
import pandas as pd

df=pd.read_csv("P05-02.csv")

campinas=df.loc[df["city"]=="Campinas"]
campinas.sort_values(["total"], ascending=[True])[:5]

,city,area,rooms,bathroom,parking_spaces,floor,animal,furniture,homeowner_tax,rent_amount,property_tax,fire_insurance,total
4788,Campinas,42,1,1,0,1,acept,not furnished,0,690,12,9,711
2989,Campinas,45,1,1,0,14,not acept,not furnished,285,500,0,7,792
6204,Campinas,30,1,1,0,15,acept,not furnished,280,500,10,7,797
2610,Campinas,45,1,1,0,1,acept,not furnished,0,770,34,10,814
6546,Campinas,45,1,1,0,1,acept,not furnished,0,770,34,10,814