In [ ]:
# NIM/Nama  : 19622217/Lydia Gracia
# Tanggal   : 15 November 2022
# Deskripsi : membaca data mahasiswa dan menampilkan (1) nilai matematika, fisika, dan kimia milik Tuan Leo, (2) mahasiswa dengan nilai fisika tertinggi, (3) 10 mahasiswa dengan nilai kimia tertinggi, (4) banyaknya nilai matematika di bawah 50, (5) banyaknya mahasiswa FMIPA 

# KAMUS
# df: dataframe
# fismax: float

In [2]:
import pandas as pd

# membaca file
df=pd.read_csv("H05.csv")

1. nilai matematika, fisika, dan kimia milik Tuan Leo

In [8]:
# ambil data Tuan Leo
df.loc[df["nama"]=="Tuan Leo"]

          nama fakultas  nilai_mat  nilai_kim  nilai_fis
3513  Tuan Leo     STEI      96.78      62.23      30.53

2. mahasiswa dengan nilai fisika tertinggi

In [4]:
# menyimpan nilai fisika tertinggi
fismax=df["nilai_fis"].max()
# menampilkan semua siswa dengan nilai fisika tertinggi
df.loc[df["nilai_fis"]==fismax]

                         nama fakultas  nilai_mat  nilai_kim  nilai_fis
1936  Yuniar Fazriani Rusmana     FITB      53.61      67.19      92.57

3. 10 mahasiswa dengan nilai kimia tertinggi

In [12]:
# urutkan mahasiswa dengan nilai kimia menurun (descending)
df=df.sort_values(["nilai_kim"], ascending=[0])
# print 10 mahasiswa dengan nilai kimia tertinggi
df[:10]["nama"]

2554        Faathir Reza Avicena
2779        Dinda A A Z Mundakir
3544          Tammya Ayu Purnomo
4934      Alyssa Nadhira Windari
1137            Izni Nur Ibrahim
2262        Rinaldi Oky Setiawan
4070        Ias Azhari Rezkyarno
2945             Klara Petra T T
1788    Naudy Germanimo Laksmana
1310         Mardliyahtur Rohmah
Name: nama, dtype: object

4. banyaknya nilai matematika di bawah 50

In [14]:
# baca data original
df=pd.read_csv("H05.csv")
# tampilkan banyak baris dengan nilai_mat<=50
print(len(df.loc[df["nilai_mat"]<=50]))

329

5. banyaknya mahasiswa fmipa

In [15]:
# menampilkan banyak baris fakultas FMIPA
print(len(df.loc[df["fakultas"]=="FMIPA"]))

627