In [1]:
# NIM/Nama  : 19622217/Lydia Gracia
# Tanggal   : 15 November 2022
# Deskripsi : membaca data mahasiswa dan menampilkan (1) banyaknya data, (2) 10 data pertama, (3) data ke 50 sampai 60 secara inklusif, (4) banyaknya mahasiswa tiap fakultas, (5) nilai korelasi antara nilai fisika dan kimia

# KAMUS
# df: dataframe

In [ ]:
import pandas as pd

# membaca file
df=pd.read_csv("H05.csv")

1. Banyaknya data

In [ ]:
# cetak banyak baris
print(len(df))

5135

2. 10 data pertama

In [ ]:
# ambil 10 data pertama (sampai indeks 9)
df[:10]

                             nama fakultas  nilai_mat  nilai_kim  nilai_fis
0            Farhan Fathur Rahman    FMIPA      57.21      34.14      38.93
1                  Steven Margono    FMIPA      67.43      51.50      57.20
2                    Ryan Sentosa    SAPPK      90.62      37.38      40.73
3            Muhajah Babny Muslim    FMIPA      72.31      38.80      44.79
4                Alvin Natawiguna     FTSL      65.45      57.67      56.39
5                   Sasti Safitri     FTSL      60.58      41.91      51.55
6             Dani Yulianto Putra     FTSL      51.67      35.05      48.69
7  Nabila Febitsukarizky Bunyamin     FTTM      71.66      67.61      69.75
8             Ratna Siti Khodijah      FTI      73.06      59.16      59.48
9                    Gita Partiwi     FTSL      69.57      38.84      48.17

3. data ke 50 sampai 60 (inklusif: data ke-50, data ke-51, . . . , data ke-60)

In [ ]:
# ambil data ke 50 (indeks 49) sampai 60 (indeks 59)
df[49:60]

                        nama fakultas  nilai_mat  nilai_kim  nilai_fis
49      Alief Rizky Ramadhan    SITHS      84.59      42.44      40.48
50      Arief Syakur Sutedjo     FTTM      84.40      61.21      73.91
51         Fayi Raihan Saleh    FMIPA      60.62      32.57      42.34
52          Erna Kristiawati      FTI      67.48      46.78      52.30
53                    Albert    SAPPK      70.27      50.10      54.01
54  M Jazztyan Indra Pradana     STEI      53.40      43.06      60.30
55      Moch Ginanjar Busiri    FMIPA      74.29      38.44      49.15
56              Aisya Tamara     FITB      71.49      35.86      37.41
57        Tyas Arum Widayati    SAPPK      68.57      37.02      53.25
58                Arif Saleh      FTI     100.00      59.79      55.33
59     Windy Diwita Nisaekti      FTI      67.15      57.72      54.24

4. banyaknya mahasiswa tiap fakultas

In [ ]:
# menghitung banyak dari masing-masing fakultas
df["fakultas"].value_counts()

FTI      834
STEI     777
FTSL     660
FMIPA    627
FTTM     579
FTMD     480
FITB     403
SAPPK    315
SITHR    282
SITHS    178
Name: fakultas, dtype: int64

5. nilai korelasi antara nilai fisika dan kimia

In [ ]:
print(df["nilai_fis"].corr(df["nilai_kim"]))

0.7988187423880275

korelasi nilai fisika dan kimia mendekati 1, artinya keduanya berbanding lurus